<div class="vertical-menu" style="margin-top: 3.8%">
    <a class="active" [routerLink]="['pythonHome']">Home</a>

    <a [routerLink]="['pythonintroduction']">Intro</a>
    <a href="#">Syntax</a>
    <a href="#">Comment</a>
    <a href="#">Link 4</a>
    <a href="#">Link 5</a>
    <a href="#">Link 6</a>
    <a href="#">Link 7</a>
    <a href="#">Link 8</a>
    <a href="#">Link 9</a>
    <a href="#">Link 10</a>
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
    <a href="#">Link 5</a>
    <a href="#">Link 6</a>
    <a href="#">Link 7</a>
    <a href="#">Link 8</a>
    <a href="#">Link 9</a>
    <a href="#">Link 10</a>
  </div>
  
  <div style="margin-left: 20%;
              background-color: #e5ecec;
              height: auto;
              padding-top: 0px;
              margin-top: 3.8%;
              top: 0;
              position: absolute;
              width: 80%;
              height: auto;
              color: black;" id="home"
  >
  <router-outlet></router-outlet>
</div>
<!----
<div style="margin-left: 20%;
  background-color: #e5ecec;
  height: auto;
  padding-top: 0px;
  margin-top: 3.8%;
  top: 0;
  position: absolute;
  width: 80%;
  height: auto;
  color: black;" id="intro">
    intropage
</div>
   -->